{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{  $gituser := promptString "git username" -}}
{{  $gitemail := promptString "git email" -}}

{{- /* Check if running in a Remote Dev Container */ -}}
{{- $dev_container:= env "REMOTE_CONTAINERS" | not | not -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your git user  and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  gituser: "{{ $gituser }}"
  gitemail: "{{ $gitemail }}"
  dev_container: "{{ $dev_container }}"