{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

BLUE='\033[0;34m'

{{  if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt -y install zsh curl git
{{  end -}}

sudo chsh -s $(which zsh)

if [ ! -d ~/.oh-my-zsh ]; then
    echo "${BLUE}Backup .zshrc from chezmoi"
    cp .zshrc .zshrc.chezmoi -v

    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

    # Oh My Zsh makes a backup, not necessary for this script.
    rm -rf .zshrc .shell.pre-oh-my-zsh
    mv .zshrc.pre-oh-my-zsh .zshrc 
fi

# Enable zsh autosuggestions and completions
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions ]; then
    git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
fi
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting ]; then
    git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
fi


if [ ! -d ~/.oh-my-bash ]; then
    echo "${BLUE}Backup .bashrc from chezmoi"
    cp .bashrc .bashrc.chezmoi -v

    bash -c "$(curl -fsSL https://raw.githubusercontent.com/ohmybash/oh-my-bash/master/tools/install.sh)" --unattended

    # Need to restore bashrc file from chezmoi
    # rm -rf .bashrc
    # cp .bashrc.chezmoi .bashrc
fi

{{ end -}}
