{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Installing needed packages
echo "Installing packages"
{{  if eq .chezmoi.osRelease.id "ubuntu" }}
echo "Installing zsh curl git"
sudo apt -y install zsh curl git
{{  end -}}

# Switching shell
echo "Switching to zsh"
sudo chsh -s $(which zsh)

# Installing oh my zsh
echo "Attempting to install oh-my-zsh"
if [ ! -d ~/.oh-my-zsh ]; then

    echo "Installing oh-my-zsh"    
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

    # Oh My Zsh makes a backup, not necessary for this script.
    rm -rf .zshrc .shell.pre-oh-my-zsh
    mv .zshrc.pre-oh-my-zsh .zshrc
fi

# Enable zsh autosuggestions and completions
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions ]; then
    echo "Installing zsh-autosuggestions"
    git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
fi
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting ]; then
echo "Installing zsh-syntax-highlighting"
    git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
fi

# Installing oh my bash
echo ""
echo "Attempting to install oh-my-bash"
if [ ! -d ~/.oh-my-bash ]; then
    echo "Installing oh-my-bash"
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/ohmybash/oh-my-bash/master/tools/install.sh)" --unattended

    # Need to restore bashrc file from chezmoi
    rm -rf .bashrc
    mv .bashrc.omb-backup-* .bashrc
fi

{{ end -}}
