{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

#-------------------------------------------------
# Check for bash
if [[ ! $(command -v bash) ]]; then
    echo "bash is not installed. Please install it first and then run the script again."
    exit 1
fi

#-------------------------------------------------
# Installing oh my bash
echo ""
echo "Attempting to install oh-my-bash"
if [ ! -d ~/.oh-my-bash ]; then
    echo "Installing oh-my-bash"
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/ohmybash/oh-my-bash/master/tools/install.sh)" --unattended

    # Need to restore bashrc file from chezmoi
    rm -rf .bashrc
    mv .bashrc.omb-backup-* .bashrc
fi

{{ end -}}
